{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> Welcome to TMR Tech World! We are your go-to source for the latest insights, trends, and tips in the world of technology. Our mission is to empower you with knowledge, whether you're a tech enthusiast, a professional, or just curious about the digital world. Join us on our journey to explore and innovate! </p>
      <a href="https://tmrtechworld.com" class="btn btn-danger" target="_blank">Visit Website!</a>
    </div>
  </div>
</div>

{% endblock sidebar %}